<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SemanticsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SemanticsKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA39E36617A7B66C002B3476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA39E38717A7B66C002B3476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA39E3B417A7B7A8002B3476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA39E3C117A7B7A8002B3476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
